<audio #reproductorLluvia
       src="assets/sounds/feed.mp3"
       loop
       preload="auto">
</audio>

<button (click)="alternarSilencioAudio()"
        class="fixed top-20 left-6 z-50 p-3 bg-black/80 backdrop-blur-md border rounded-full transition-all duration-300 cursor-pointer flex items-center justify-center shadow-[0_0_10px_rgba(16,185,129,0.2)] group"
        [class.border-emerald-500/40]="!audioMutado()"
        [class.text-emerald-400]="!audioMutado()"
        [class.hover:shadow-[0_0_12px_rgba(16,185,129,0.4)]]="!audioMutado()"
        [class.border-red-900/50]="audioMutado()"
        [class.text-gray-500]="audioMutado()"
        [title]="audioMutado() ? 'Sintonizar frecuencia ambiental' : 'Aislar ruido blanco'">

  @if (audioMutado()) {
    <span class="text-sm font-mono tracking-widest text-red-500/80 animate-pulse group-hover:scale-110 transition-transform">🔇</span>
  } @else {
    <span class="text-sm font-mono tracking-widest text-emerald-400 group-hover:scale-110 transition-transform">🌧️</span>
  }
</button>

<div class="sticky top-0 bg-black/60 backdrop-blur-md border-b border-white/10 p-4 z-20 flex justify-between items-center">
  <h2 class="text-lg font-bold tracking-wider uppercase text-emerald-400 drop-shadow-[0_0_5px_rgba(16,185,129,0.3)] font-logo">
    Línea del Tiempo Oculta
  </h2>

  <div class="flex gap-2 text-xs font-mono">
    <button (click)="cambiarOrden('fecha')" [class]="criterioOrden === 'fecha' ? 'text-emerald-400 font-bold border-b border-emerald-400' : 'text-gray-400' ">Recientes</button>
    <span class="text-white/20">|</span>
    <button (click)="cambiarOrden('likes')" [class]="criterioOrden === 'likes' ? 'text-emerald-400 font-bold border-b border-emerald-400' : 'text-gray-400' ">Populares</button>
  </div>
</div>

<app-post-box (onNuevoPost)="agregarNuevoPost($event)"></app-post-box>

<div class="divide-y divide-white/10">
  @for (item of postsArray(); track item._id) {
    <app-post-card
      [post]="item"
      [usuarioActualId]="usuarioLogueadoId"
      (onLike)="onToggleLike(item)"
      (onDelete)="onEliminarPost(item._id)">
    </app-post-card>
  } @empty {
    @if (!cargando) {
      <p class="text-center text-xs text-gray-500 py-10 uppercase tracking-widest font-mono">No hay actividad en este plano espectral...</p>
    }
  }
</div>

<div class="w-full flex justify-center pt-8 pb-12 mt-10 transition-all">
  @if (cargando) {
    <div class="flex items-center gap-2 text-[12px] font-mono uppercase text-emerald-500 tracking-[0.2em] animate-pulse">
      <span class="w-2 h-2 rounded-full bg-blue-500 animate-ping"></span>
      Rastreando nuevas evidencias espectrales...
    </div>
  }

  @if (finDeRegistros && postsArray().length > 0) {
    <div class="text-[14px] font-mono uppercase text-red-700 tracking-widest border-t border-white/5 pt-4 px-6 w-full text-center">
      —— Fin del hilo de Publicaciones. ——
    </div>
  }
</div>

<div #anclaReal class="h-4 w-full invisible pb-24"></div>
