<div class="sticky top-0 bg-black/60 backdrop-blur-md border-b border-white/10 p-4 z-20 flex justify-between items-center">
  <h2 class="text-lg font-bold tracking-wider uppercase text-emerald-400 drop-shadow-[0_0_5px_rgba(16,185,129,0.3)]">
    Línea del Tiempo Oculta
  </h2>

  <div class="flex gap-2 text-xs">
    <button (click)="cambiarOrden('fecha')" [class]="criterioOrden === 'fecha' ? 'text-emerald-400 font-bold border-b border-emerald-400' : 'text-gray-400' ">Recientes</button>
    <span class="text-white/20">|</span>
    <button (click)="cambiarOrden('likes')" [class]="criterioOrden === 'likes' ? 'text-emerald-400 font-bold border-b border-emerald-400' : 'text-gray-400' ">Populares</button>
  </div>
</div>

<app-post-box (onNuevoPost)="agregarNuevoPost($event)"></app-post-box>

<div class="divide-y divide-white/10 pb-20">
  @for (item of postsArray; track item._id) {
    <app-post-card
      [post]="item"
      [usuarioActualId]="usuarioLogueadoId"
      (onLike)="onToggleLike(item)"
      (onDelete)="onEliminarPost(item._id)">
    </app-post-card>
  } @empty {
    <p class="text-center text-xs text-gray-500 py-10 uppercase tracking-widest">No hay actividad en este plano espectral...</p>
  }
</div>

@if (postsArray.length > 0 && !finDeRegistros) {
  <div class="flex justify-center pb-20">
    <button (click)="cargarMas()" class="bg-zinc-900/80 border border-emerald-500/30 text-emerald-400 text-xs px-6 py-2 rounded">
      Cargar más evidencias
    </button>
  </div>
}
