<div class="p-4 w-full text-gray-200 max-w-2xl mx-auto">

  <a routerLink="/home"
    class="inline-flex items-center gap-2 text-xs text-gray-400 hover:text-emerald-400 mb-4 transition-colors uppercase tracking-wider font-bold">
    ⬅️ Volver
  </a>

  @if (post()) {
  <div [appPostCategoriaEstilo]="post()!.categoria"
    class="rounded-lg bg-black/40 border shadow-xl overflow-hidden backdrop-blur-sm transition-all duration-300">

    <div class="p-4 pb-3">
      <div class="flex justify-between items-center mb-2">
        <span class="font-bold text-emerald-400 text-sm">
          👤 {{ post()!.autorId && typeof post()!.autorId === 'object' ? $any(post()!.autorId).nombreUsuario :
          'Investigador' }}
        </span>

        <span [class]="'text-[10px] uppercase font-black tracking-widest px-2 py-0.5 rounded' +
            (post()!.categoria === 'ovnis' ? ' bg-cyan-950/50 text-cyan-400 border border-cyan-500/20' :
             post()!.categoria === 'mitologia' ? ' bg-amber-950/50 text-amber-400 border border-amber-500/20' :
             post()!.categoria === 'fantasmas' ? ' bg-emerald-950/50 text-emerald-400 border border-emerald-500/20' :
             post()!.categoria === 'general' ? ' bg-rose-950/50 text-rose-400 border border-rose-500/20' : '' )">
          {{ post()!.categoria }}
        </span>
      </div>

      <p class="text-base text-gray-200 mb-3 font-body leading-relaxed">
        {{ post()!.contenido | censuraParanormal}}
      </p>

      @if (post()!.imagenUrl) {
      <div class="rounded-lg overflow-hidden border border-white/5 bg-black/20 max-h-80 mb-3">
        <img [src]="post()!.imagenUrl! | imagenMedia" class="w-full object-cover" alt="Evidencia" />
      </div>
      }

      <div class="text-xs text-gray-500 border-t border-white/5 pt-3 flex justify-between items-center">
        <div class="flex gap-6 items-center">
          <span class="flex items-center gap-1.5">
            💬 {{ post()!.comentarios | espectroComentarios }}
          </span>
          <button (click)="alternarLikePost()" [class.text-rose-500]="leDioLikeAlPost()"
            class="flex items-center gap-1.5 hover:text-rose-500 transition-colors bg-transparent border-none cursor-pointer text-xs">
            {{ leDioLikeAlPost() ? '❤️' : '🖤' }} {{ post()!.likes }}
          </button>
        </div>

        @if ($any(post()!.autorId)?._id === usuarioLogueadoId || authService.esAdmin) {
        <button (click)="eliminarPublicacionActual()"
          class="text-gray-500 hover:text-red-500 transition-colors bg-transparent border-none cursor-pointer text-xs flex items-center gap-1 font-bold uppercase tracking-wider"
          title="Eliminar evidencia">
          🗑️ Eliminar Post
        </button>
        }
      </div>

    </div>

    <div class="border-t border-white/10 bg-white/1 p-3 flex gap-3 items-center">
      <input type="text" [(ngModel)]="nuevoComentarioTexto" placeholder="Postea tu respuesta..."
        class="flex-1 bg-transparent border-none py-1 text-sm text-gray-200 focus:outline-none placeholder-gray-500"
        (keyup.enter)="publicarComentario()" />

      <button (click)="publicarComentario()" [disabled]="!nuevoComentarioTexto.trim()"
        class="text-emerald-400 hover:text-emerald-300 disabled:text-zinc-600 disabled:cursor-not-allowed transition-colors bg-transparent border-none cursor-pointer p-1 text-lg flex items-center justify-center">
        ➔
      </button>
    </div>

  </div>

  }
</div>
