<div class="h-full flex flex-col justify-between p-2">

  <div class="space-y-6">
    <div>
      <h1 class="font-logo text-emerald-500 text-2xl tracking-widest uppercase drop-shadow-[0_0_8px_rgba(16,185,129,0.4)]">
        Paranormal
      </h1>
      <span class="text-xs text-gray-400 uppercase tracking-wider block -mt-1">Social Network</span>
    </div>

    <nav class="space-y-1">

      <a routerLink="/home"
         routerLinkActive="text-emerald-400 font-bold bg-emerald-950/30 border-l-2 border-emerald-500 rounded-r-md"
         [routerLinkActiveOptions]="{ exact: true }"
         class="flex items-center gap-4 px-4 py-3 text-gray-400 hover:text-emerald-400 hover:bg-white/5 rounded-md transition-all text-sm uppercase tracking-wide">
        <span>👁️</span> <span>Home</span>
      </a>

      <a routerLink="/home/my-profile"
         routerLinkActive="text-emerald-400 font-bold bg-emerald-950/30 border-l-2 border-emerald-500 rounded-r-md"
         class="flex items-center gap-4 px-4 py-3 text-gray-400 hover:text-emerald-400 hover:bg-white/5 rounded-md transition-all text-sm uppercase tracking-wide">
        <span>👤</span> <span>Mi Perfil</span>
      </a>

      <div class="opacity-40 transition-opacity group relative">
        <a class="flex items-center gap-4 px-4 py-3 text-gray-500 cursor-not-allowed text-sm uppercase tracking-wide">
          <span>📩</span> <span>Mensajes</span>
          <span class="absolute right-3 text-[9px] font-mono text-emerald-600 border border-emerald-950 px-1 rounded bg-black/40">🔒</span>
        </a>
      </div>

      <div class="opacity-40 transition-opacity group relative">
        <a class="flex items-center gap-4 px-4 py-3 text-gray-500 cursor-not-allowed text-sm uppercase tracking-wide">
          <span>⚙️</span> <span>Ajustes</span>
          <span class="absolute right-3 text-[9px] font-mono text-emerald-600 border border-emerald-950 px-1 rounded bg-black/40">🔒</span>
        </a>
      </div>

      <div class="opacity-40 transition-opacity">
        <a class="flex items-center gap-4 px-4 py-3 text-gray-500 cursor-not-allowed text-sm uppercase tracking-wide">
          <span>🎬</span> <span>Biblioteca Top 10</span>
        </a>
      </div>

      @if (authService.esAdmin) {
        <div class="mt-4 pt-4 border-t border-white/5 space-y-1">
          <p class="text-[9px] text-red-600 font-black uppercase tracking-widest mb-2 px-4">Consola Maestra</p>

          <a routerLink="/home/dashboard/estadisticas"
             routerLinkActive="text-purple-400 font-bold bg-purple-950/20 border-l-2 border-purple-500 rounded-r-md"
             class="flex items-center gap-4 px-4 py-2.5 text-purple-400/80 hover:text-purple-400 hover:bg-purple-950/10 rounded-md transition-all text-xs uppercase tracking-wide">
            <span>📊</span> <span>Estadísticas Ocultas</span>
          </a>

          <a routerLink="/home/dashboard/usuarios"
             routerLinkActive="text-purple-400 font-bold bg-purple-950/20 border-l-2 border-purple-500 rounded-r-md"
             class="flex items-center gap-4 px-4 py-2.5 text-purple-400/80 hover:text-purple-400 hover:bg-purple-950/10 rounded-md transition-all text-xs uppercase tracking-wide">
            <span>🛡️</span> <span>Control Usuarios</span>
          </a>
        </div>
      }

    </nav>
  </div>

  <div class="space-y-3 pt-4 border-t border-white/5">

    <div class="flex items-center gap-3 p-2.5 bg-black/40 backdrop-blur-sm rounded-lg border border-white/5">
      <div class="w-9 h-9 rounded-full bg-zinc-900 border border-emerald-500/30 flex items-center justify-center font-bold text-emerald-400 overflow-hidden shrink-0 shadow-[0_0_8px_rgba(16,185,129,0.1)]">
        @if (currentUser?.avatarUrl) {
          <img [src]="currentUser!.avatarUrl | imagenMedia" class="w-full h-full object-cover" alt="Avatar">
        } @else {
          <span class="text-xl">👁️</span>
        }
      </div>

      <div class="truncate">
        <p class="text-xs font-bold text-gray-200 truncate">{{ currentUser?.nombreUsuario || 'Investigador' }}</p>
        <p class="text-[9px] font-mono text-gray-500 uppercase tracking-tight">{{currentUser?.perfil}}</p>
      </div>
    </div>

    <audio #reproductorLluvia src="assets/sounds/feed.mp3" loop preload="auto"></audio>

    <button (click)="alternarSilencioAudio()"
            class="w-full py-2 px-3 bg-black/20 hover:bg-white/5 border text-left rounded-lg transition-all duration-300 cursor-pointer flex items-center justify-between text-xs font-mono group"
            [class.border-emerald-500/10]="!audioMutado()"
            [class.text-emerald-400]="!audioMutado()"
            [class.border-white/5]="audioMutado()"
            [class.text-gray-500]="audioMutado()">

      <span class="tracking-wider uppercase text-[9px]">
        {{ audioMutado() ? 'Canal Aislado' : 'Frecuencia Ambiente' }}
      </span>

      @if (audioMutado()) {
        <span class="text-xs text-red-500/60 animate-pulse transition-transform">MUTE</span>
      } @else {
        <span class="text-xs text-emerald-500 group-hover:animate-bounce transition-transform">🌧️</span>
      }
    </button>

  </div>
</div>
